# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Logistics Projekt
# outputs/maps/*.html  (Permitida subida a GitHub por petición)
outputs/results/*.json
logs/*.log

# VS Code / IDE
.vscode/
.idea/
.gemini/
